.search {
   
    .container {
      .search-form-div {
        .search-form {
          width: 100%;
  
          .search-form-elements {
            
  
            .input-bar {
              width: 60rem;
              padding: 1.2rem;
              margin: 1.2rem;
              border-radius: 2rem;
              font-size: 1.6rem;
            }
  
            .search-btn {
              text-transform: capitalize;
              padding: 1.2rem;
              border-radius: 2rem;
              color: var(--brown);
              background-color: var(--darkbrown);

              &:hover{
                background-color: var(--darkgreen);
              }

              &::placeholder{
                opacity: 0.9;
              }
            }
          }
        }
      }
    }
  }
  

@media(max-width: 768px){

    .search-form-elements{
        flex-direction: column;

        .input-bar{
            width: 40rem;
        }
    }
}

@media(max-width: 450px){

    .search-form-elements{

        .input-bar{
            width: 20rem;
        }
    }
}